<!DOCTYPE html>
<html lang="en" ng-app="schedo">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>ScheDo</title>

<link rel="stylesheet" type="text/css" href="/static/libs/bootstrap-css/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/dhtmlxscheduler.css" />
<link rel="stylesheet" type="text/css" href="/static/css/calendar_setting.css" />
<link rel="stylesheet" type="text/css" href="/static/css/main.css" />

<script type="text/javascript" src="/static/libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/libs/angular/angular.min.js"></script>
<script type="text/javascript" src="/static/libs/angular/angular-route.min.js"></script>

<script type="text/javascript" src="/static/js/app.js"></script>
<script type="text/javascript" src="/static/js/controllers.js"></script>
<script type="text/javascript" src="/static/js/services.js"></script>
<script type="text/javascript" src="/static/js/directives.js"></script>

<script type="text/javascript">
function MainCtrl($scope, $rootScope) {
	$rootScope.user = {};
	$rootScope.user.userId = '<<? .userId ?>>'
	$rootScope.user.userName = '<<? .userName ?>>'
}
</script>
</head>

<body ng-controller="MainCtrl">
	<menu></menu>
	<ng-view></ng-view>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/static/libs/bootstrap-css/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/libs/angular-ui/ui-bootstrap-tpls-0.11.0.min.js"></script>
</body>
</html>