html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow: hidden;
	line-height: 100%;
}

#my_form {
	position: absolute;
	top: 100px;
	left: 200px;
	z-index: 10001;
	display: none;
	background-color: white;
	border: 2px outset gray;
	font-family: Tahoma;
	font-size: 10pt;
}

#my_form label {
	width: 200px;
}

#my_form .head {
	background-color: black;
	color:white;
	text-align:center;
	font-size: 12pt;
	padding: 5px;
}

#my_form .body {
	padding: 0px 20px 10px 20px;
}

/* background color for whole container and it's border*/
.my_event {
		background-color: #add8e6;
	border: 1px solid #778899;
	overflow: hidden;
}
/* disabling default color for select menu */
.dhx_cal_select_menu.my_event div {
	border: 0;
	background-color: transparent;
	color: black;
}
/* styles for event content */
.dhx_cal_event.my_event .my_event_body {
	padding-top: 3px;
	padding-left: 5px;
	white-space: nowrap;
}
/* event's date information */
.my_event .event_date {
	font-weight: bold;
	padding-right: 5px;
}
/* event's resizing section */
.my_event_resize {
	height: 3px;
	position: absolute;
	bottom: -1px;
}
/* event's move section */
.my_event_move {
	position: absolute;
	top: 0;
	height: 10px;
	cursor: pointer;
}

.dhx_cal_container * {
	box-sizing: content-box;
}